@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
    background-color: #FAFAFA;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
}

header .menu {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 12rem;
    border-bottom: 1px solid rgba(255, 12, 57, 0.4);
}

header .menu .logo-image {
    width: 2.5em;
    height: 2.5em;
}

header .menu li {
    display: inline-block;
}

header .menu .item {
    color: #131313;
    padding: 8px 16px;
    border-radius: 3px;
    transition: 200ms;
}

header .menu .li-ativado, header .menu .item:hover {
    color: #FAFAFA;
    background-color: #ff3f62;
}

header .menu .item:hover {
    color: #FAFAFA;
    background-color: #ff3f62;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main .container {
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main .container .card {
    position: relative;
    padding: 10px;
    width: 280px;
    margin: 20px;
    border: 1px solid rgba(255, 12, 57, 0.4);
    overflow: hidden;
    border-radius: 3px;
    transition: 0.5s;
    text-align: center;
}

main .container .card img {
    margin-top: 16px;
    width: 5em;
    height: 5em;
    transition: 0.5s;
}

main .container .card h1 {
    font-size: 2rem;
}

main .container .card .content {
    padding: 20px;
    text-align: center;
}

main .container .card .content p {
    color: #131313;
    transition: 0.5s;
}

main .container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3f62;
    color: #FAFAFA;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

main .container .card:hover {
    background-color: #131313;
    color: #FAFAFA;
    margin-bottom: 30px;
    box-shadow: 2px 20px 25px #131313;
    border-color: #131313;
}

main .container .card:hover img {
    filter: invert(1);
}

main .container .card:hover .content p {
    color: #FAFAFA;
}

main .container .card:hover .content a {
    color: #131313;
    background-color: #FAFAFA;
}